{% extends "base.html" %}

{% block style %}
<!-- d3 CSS -->
 <link href="../static/css/scatterplot.css" rel="stylesheet">

 <!-- table CSS -->
 <link href="../static/css/table.css" rel="stylesheet">

<!-- star CSS -->
 <link href="../static/css/star-rating.css" media="all" rel="stylesheet" type="text/css">

 <style>
  .similarity {
    color: transparent;
    background: transparent;
    border-color: transparent;
  }
 </style>

 <!-- import JSON data -->
 <script>
 var mds_data = '{{ podcast_results|tojson }}';

 // preserve newlines, etc - use valid JSON
 mds_data = mds_data.replace(/\\n/g, "\\n")  
 .replace(/\\'/g, "\\'")
 .replace(/\\"/g, '\\"')
 .replace(/\\&/g, "\\&")
 .replace(/\\r/g, "\\r")
 .replace(/\\t/g, "\\t")
 .replace(/\\b/g, "\\b")
 .replace(/\\f/g, "\\f")
 .replace(/[\u0000-\u0019]+/g,""); 

var json_error;
 try {
  mds_data = JSON.parse(mds_data);
} catch(e) {
  json_error = e;
}
 
 </script>
{% endblock %}

{% block content %}
 <!-- Table & Scatterplot -->
 <div class="container">

  <div class="col-md-6 pull-right" >
    <div id="scatter-container">
      <div id="scatter-title">
        <h3>Explore the top 100 podcasts</h3>
        <p>Better matches are closer to the center</p>
      </div>
      <div  id="scatterplot">
      </div>
      <div id="scatter-description">
        <p id="podcast-description"></p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <h3>Podcasts Like {{ search_name }}:</h3>
    <table class="table table-hover">
      <tbody>
        {% for result in podcast_results_no_self %}
        <tr id="{{result['id']}}">
          <td class="vert-align"><img src="{{result['artwork_url100']}}", height="50px", width="50px"></td>
          <td class="vert-align"><input value="{{ result['similarity'] }}" type="number" class="similarity"></td>
          <td class="vert-align">{{ result['name']}}</td>
          <td class="vert-align"><a href="{{ result['view_url'] }}" class="btn btn-block btn-xs btn-default" target="_blank"><span class="glyphicon glyphicon-headphones"></span> Listen on iTunes</a>

          <a href="../output?id={{ result['id']}}" class="btn btn-block btn-xs btn-default"><span class="glyphicon glyphicon-retweet"></span> View Similar</a>
          </td>
        </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>

  </div>
{% endblock %}

{% block scripts %}
<!-- d3 -->
<script type="text/javascript" src="../static/js/d3.min.js"></script>

<!-- link table to scatter -->
<script type="text/javascript" src="../static/js/force_layout.js"></script>

<!-- star ratings -->
<script type="text/javascript" src="../static/js/star-rating.min.js"></script>

<script type="text/javascript">
$(document).ready(function () {
  $(".similarity").rating( {
    min: 0,
    max: 1,
    step: 0.25,
    size: 'xs',
    showClear: false,
    showCaption: false,
    disabled: true,
    readonly: true
  });
});
</script>
{% endblock %}
