body {
	background: rgba(79,94,4,1);
	background: -moz-linear-gradient(left, rgba(79,94,4,1) 0%, rgba(125,145,10,1) 50%, rgba(79,94,4,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(79,94,4,1)), color-stop(50%, rgba(125,145,10,1)), color-stop(100%, rgba(79,94,4,1)));
	background: -webkit-linear-gradient(left, rgba(79,94,4,1) 0%, rgba(125,145,10,1) 50%, rgba(79,94,4,1) 100%);
	background: -o-linear-gradient(left, rgba(79,94,4,1) 0%, rgba(125,145,10,1) 50%, rgba(79,94,4,1) 100%);
	background: -ms-linear-gradient(left, rgba(79,94,4,1) 0%, rgba(125,145,10,1) 50%, rgba(79,94,4,1) 100%);
	background: linear-gradient(to right, rgba(79,94,4,1) 0%, rgba(125,145,10,1) 50%, rgba(79,94,4,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f5e04', endColorstr='#4f5e04', GradientType=1 );
}
